.linkViewButton {    
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;   
    text-decoration: none;
    color: inherit;
    color: var(--blue);

}
