.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 67px 0 ;
}

.cards__card {
    display: flex;
    flex-direction: column;
    
    min-width: 350px;
    min-height: 367px;
    margin: 15px;
    
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);    
    background-color: var(--white);        
}

.cards__card__body {
    flex-grow: 1;

}
.cards__card__title {    
    margin: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;    
}