.calendar{
    border-radius: 8px;  
    padding: 28px 26px 32px;
    border: 1px solid var(--grey-3);    
    color: #334D6E;
   
}
.calendar__title{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}


.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 36px);
    grid-template-rows: 42px repeat(5, 36px);
    
    margin-top: 24px;
    line-height: 36px;
    justify-content: space-between;
}

.calendar__weekday{
    
    font-size: 14px;
    color: #90A0B7;
    text-align: center;
}

.calendar__days{
    text-align: center;
    font-weight: 400;
    font-size: 16px;  
}


.calendar__days_selectStartEnd{    
    color: #FFFFFF;
    background-color: #4263EB;
}
.calendar__days_select{
    background: #a0b1f530;
    
}
