


.skeleton {
    display: flex;  
    flex-direction: column;    
    border-radius: 8px;  
    padding: 24px ;
    padding-right: 40px;
    border: 1px solid var(--grey-3);
    --grey-gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);    ;
}

.skeleton__head{
    display: flex;  
    flex-direction: row; 
}

.skeleton__avatar{
    width: 64px;
    height: 64px;
    background-color: var(--grey-2);
    border-radius: 50%;
}
.skeleton__title{
    flex-grow: 1;
    margin-left: 16px;
}

.skeleton__body{
    margin-top: 16px;
    flex-grow: 1;
}

.skeleton__line {
    margin: 8px 0;
    height: 20px;
    flex-grow: 1;
    background: var(--grey-gradient);
}

.skeleton__line_w35{
    width: 35%;
} 

.skeleton__line_w75{
    width: 75%;
} 