.footer {
    text-align: center;
    padding: 70px 0 130px 0 ;
}

.footer__title {    
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__description {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    max-width: 640px;
    line-height: 24px;
}

